Package: envrep
Version: 1.0.0
Section: base
Priority: optional
Architecture: amd64
Maintainer: ht@thanhtunguet.info
Description: Replace environment variable in Configuration files, deploy on Kubernetes and Docker. Currently support `amd64` only.

